@charset 'utf-8';
// sassのみ見れるコメント(変換後に出てこないコメント)
/*　コメント(変換後に出てくるコメント)　*/

// パーツファイルからの呼び出し
@use '_variables.scss' as *;
@use '_mixins.scss' as *;
@forward '_contact.scss';

p {
    background-color: $color;
}

footer {
    color: $color;
}

// 算術演算
.column {
    width: 1200 / 12 * 1px;
    // cssにはcalc関数が存在する
    // calc(1200)
}

// ネスト
section {
    margin: 0 auto 40px;

    div {
        background-color: yellow;

        a {
            color: violet;
        }
    }
}

// ネスト(親クラスの継承)
.feature {
    margin-bottom: 20px;
    background: brown;

    // .feature_text
    &_text {
        font-size: .8rem;

        // .feature_text_img
        &_img {
            width: 180px;
        }
    }
}

.box {
    @include common-box;
}

.layout {
    @include example(70%, 50%);
}

h1 {
    @include mediaquery(small) {
        color: #000;
        font-size: 1.5rem;
    }
}